<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="/"><img src="/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li onclick="addClassByClick(this)">
                        <a href="/" aria-expanded="true"><i
                                class="ti ti-dashboard"></i><span>dashboard</span></a>
                    </li>
                    <!-- Quản trị danh mục -->
                    <li onclick="addClassByClick(this)">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i>
                            <span>Quản lý</span></a>
                        <ul class="collapse">
                            <li><a href="/product">Quản lí sản phẩm</a></li>
                            <li><a href="/employee">Quản lý nhân viên</a></li>
                            <li><a href="/customer">Quản lý khách hàng</a></li>
                            <li><a href="/order">Quản lý đơn hàng</a></li>
                        </ul>
                    </li>
                    <li onclick="addClassByClick(this)">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i>
                            <span>Tài khoản</span></a>
                        <ul class="collapse">
                            <li><a href="/account">Thay đổi thông tin</a></li>
                            <li><a href="/screenlock">Thoát</a></li>
                        </ul>
                    </li>
                    <li onclick="addClassByClick(this)"><a href="/report"><i class="ti-receipt"></i> <span>Báo cáo</span></a></li>
                    <li onclick="addClassByClick(this)"><a href="/maps"><i class="ti-map-alt"></i> <span>maps</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->