<div class="main-content">
    {{>header}}

    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/profile">Trang cá nhân</a></li>
                        <li><span>Đổi mật khẩu</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="login-box ptb--100">
                            <form method="POST" class="needs-validation mt-3" novalidate="">
                                <div class="login-form-head">
                                    <h4>Đổi mật khẩu</h4>
                                </div>
                                <div class="login-form-body">  
                                    <div class="form-gp">
                                        <label for="register-password-new">Password</label>
                                        <input type="password" id="register-password-new" name="newPassword" required="">
                                        <i class="ti-lock"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    <div class="form-gp">
                                        <label for="register-password-confirm">Confirm Password</label>
                                        <input type="password" id="register-password-confirm" name="confirmPassword"
                                            required="">
                                        <i class="ti-lock"></i>
                                        <div class="text-danger"></div>
                                    </div>
                                    
                                    <input type="hidden" name="accountid" value="{{user.accountid}}">
                                    <div id="message"></div>
                                    <div class="submit-btn-area">
                                        <button id="form_submit-btn" type="submit">Submit <i
                                                class="ti-arrow-right"></i></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(e) {
        $('#form_submit-btn').on('click', function(e) {
            e.preventDefault();
            let newPassword = $('input[name="newPassword"]').val();
            let confirmPassword = $('input[name="confirmPassword"]').val();
            let accountid = $('input[name="accountid"]').val();
            
            $.ajax({
                url: '/profile/password?_method=PUT',
                method: 'POST',
                data: {
                    newPassword,
                    confirmPassword,
                    accountid,
                },
                success: function (data) {
                    $('#message').html(`
                    <div class="alert alert-success" role="alert"><strong>Well done!  </strong>  ${data.message}</div>
                    `)
                },
                error: function (xhr, status, error) {
                    $('#message').html(`
                    <div class="alert alert-danger" role="alert"><strong>Oh snap! </strong>  ${xhr.responseText}</div>
                    `)
                }
            })
        })
    })
</script>