<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="/"><img src="/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="">
                        <a class="dashboard" href="/" aria-expanded="true"><i
                                class="ti ti-dashboard"></i><span>dashboard</span></a>
                    </li>
                    <!-- Quản trị danh mục -->
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i>
                            <span>Quản lý</span></a>
                        <ul class="collapse">
                            <li><a href="/product">Quản lí sản phẩm</a></li>
                            <li><a href="/employee">Quản lý nhân viên</a></li>
                            <li class="active"><a href="/customer">Quản lý khách hàng</a></li>
                            <li><a href="/order">Quản lý đơn hàng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i>
                            <span>Tài khoản</span></a>
                        <ul class="collapse">
                            <li><a href="/account">Danh sách tài khoản</a></li>
                            <li><a href="/screenlock">Thoát</a></li>
                        </ul>
                    </li>
                    <li><a href="/report"><i class="ti-receipt"></i> <span>Báo cáo</span></a></li>
                    <li><a href="/maps"><i class="ti-map-alt"></i> <span>maps</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->

<!-- main content area start -->
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Quản lý</a></li>
                        <li><span>Quản lý khách hàng</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right">
                    <img class="avatar user-thumb" src="/images/author/avatar.png" alt="avatar">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i
                            class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="/login">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Primary table start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách khách hàng</h4>
                        <div class="data-tables datatable-primary">
                            <table id="dataTable2" class="text-center">
                                <thead class="text-capitalize">
                                    <tr>
                                        <th>Mã khách hàng</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Địa chỉ</th>
                                        <th>Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>cus001</td>
                                        <td>Nguyễn Đức Mạnh</td>
                                        <td>19120575</td>
                                        <td>ndmanh@example.com</td>
                                        <td>universal</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>cus002</td>
                                        <td>Thọ</td>
                                        <td>191206..</td>
                                        <td>name@example.com</td>
                                        <td>school</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>cus003</td>
                                        <td>Nguyễn Văn Thịnh</td>
                                        <td>19120667</td>
                                        <td>nvthinh@example.com</td>
                                        <td>home</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn-add btn btn-primary mb-3">Thêm khách hàng</button>
                        <!-- Add customer form-->
                        <form class="needs-validation mt-3 hidden" novalidate="">
                            <h4 class="header-title">Thêm khách hàng</h4>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-name">Họ tên</label>
                                        <input type="text" class="form-control" id="customer-name" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-address">Địa chỉ</label>
                                        <input type="text" class="form-control" id="customer-address" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-phone">Số điện thoại</label>
                                        <input class="form-control" type="tel" value="" id="employee-phone" required="">
                                        <div class="invalid-feedback">
                                            Please fill in the input field.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="customer-email">Email</label>
                                        <input class="form-control" type="email" value="" id="employee-email">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Primary table end -->
        </div>
    </div>
</div>
<!-- main content area end -->