<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- error area start -->
<div class="error-area ptb--100 text-center">
    <div class="container">
        <div class="error-content">
            <h1>{{message}}</h1>
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
            <h2>404</h2>
            <p>Ooops! Something went wrong .</p>
            <a href="/">Back to Dashboard</a>
        </div>
    </div>
</div>
<!-- error area end -->

<!-- jquery latest version -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>