<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="/"><img src="/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="dashboard" href="/" aria-expanded="true"><i
                                class="ti ti-dashboard"></i><span>dashboard</span></a>
                    </li>
                    <!-- Quản trị danh mục -->
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i>
                            <span>Quản lý</span></a>
                        <ul class="collapse">
                            <li class="active"><a href="/product">Quản lí sản phẩm</a></li>
                            <li><a href="/employee">Quản lý nhân viên</a></li>
                            <li><a href="/customer">Quản lý khách hàng</a></li>
                            <li><a href="/order">Quản lý đơn hàng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i>
                            <span>Tài khoản</span></a>
                        <ul class="collapse">
                            <li><a href="/account">Danh sách tài khoản</a></li>
                            <li><a href="/screenlock">Thoát</a></li>
                        </ul>
                    </li>
                    <li><a href="/report"><i class="ti-receipt"></i> <span>Báo cáo</span></a></li>
                    <li><a href="/maps"><i class="ti-map-alt"></i> <span>maps</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->

<!-- main content area start -->
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Quản lý</a></li>
                        <li><span>Quản lý sản phẩm</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right">
                    <img class="avatar user-thumb" src="/images/author/avatar.png" alt="avatar">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i
                            class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="/login">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <!-- Danh sách sản phẩm start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Danh sách sản phẩm</h4>
                        <div class="data-tables datatable-primary">
                            <table id="dataTable2" class="text-center">
                                <thead class="text-capitalize">
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Giá</th>
                                        <th>Mô tả</th>
                                        <th>Tình trạng</th>
                                        <th>Tác vụ</th>
                                        <th>Hình ảnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>p74da33c2-d5a4-460c-8e92-59d6600aa45c1</td>
                                        <td>Nike Air Force 1</td>
                                        <td>Xanh</td>
                                        <td>43</td>
                                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dignissimos
                                            itaque et eaque quod harum vero autem? Reprehenderit enim non voluptate! Qui
                                            provident modi est non eius ratione, debitis iure.</td>
                                        <td>A</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_6f806687cbcb47208ad84afb308f7620_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_f39f77bddfd440df946148407542d6a2_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_4b380396996648269cad46ca5b8e9825_master.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>74da33c2-d5a4-460c-8e92-59d6600aa45c</td>
                                        <td>Nike Air Jordan 1</td>
                                        <td>Vàng</td>
                                        <td>41</td>
                                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dignissimos
                                            itaque et eaque quod harum vero autem? Reprehenderit enim non voluptate! Qui
                                            provident modi est non eius ratione, debitis iure.</td>
                                        <td>A</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_6f806687cbcb47208ad84afb308f7620_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_f39f77bddfd440df946148407542d6a2_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_4b380396996648269cad46ca5b8e9825_master.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>74da33c2-d5a4-460c-8e92-59d6600aa45c</td>
                                        <td>Adidas</td>
                                        <td>Đỏ</td>
                                        <td>42</td>
                                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dignissimos
                                            itaque et eaque quod harum vero autem? Reprehenderit enim non voluptate! Qui
                                            provident modi est non eius ratione, debitis iure.</td>
                                        <td>A</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_6f806687cbcb47208ad84afb308f7620_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_f39f77bddfd440df946148407542d6a2_master.jpg"
                                                    class="img-fluid" alt="">
                                                <img class="col-md-4 product-img"
                                                    src="https://product.hstatic.net/1000361048/product/upload_4b380396996648269cad46ca5b8e9825_master.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn-add btn btn-primary mb-3">Thêm sản phẩm</button>
                        <!-- Add product form-->
                        <form class="needs-validation mt-3 hidden" novalidate="">
                            <h4 class="header-title">Thêm sản phẩm</h4>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-id">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="product-id" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-name">Giá</label>
                                        <input type="text" class="form-control" id="product-name" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-color">Màu sắc</label>
                                        <input type="text" class="form-control" id="product-color"
                                            aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-color">Tình trạng</label>
                                        <input type="text" class="form-control" id="product-color"
                                            aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="col mb-3">
                                        <div class="form-group mb-3">
                                            <label for="product-image">Hình ảnh</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="product-image"
                                                    required="">
                                                <label class="custom-file-label" for="product-image">Choose
                                                    file</label>
                                                <div class="invalid-feedback">Please provide a valid state.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <label for="product-size">Kích thước</label>
                                            <select id="product-size" class="form-control" required="">
                                                <option value="35" selected>35</option>
                                                <option value="36">36</option>
                                                <option value="37">37</option>
                                                <option value="38">38</option>
                                                <option value="39">39</option>
                                                <option value="40">40</option>
                                                <option value="42">41</option>
                                                <option value="42">42</option>
                                                <option value="43">43</option>
                                                <option value="44">44</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label for="order-amount">Số lượng</label>
                                        <input class="form-control" type="number" value="1" id="order-amount">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="form-group input-group-prepend mb-3">
                                        <label for="product-descript" class="input-group-text">Mô tả <br> sản
                                            phẩm</label>
                                        <textarea class="form-control" aria-label="With textarea"
                                            required=""></textarea>
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit">Cập nhật</button>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Danh sách sản phẩm end -->

            <!-- SneakerSize start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Shoes Size</h4>
                        <div class="data-tables">
                            <table id="dataTable" class="text-center">
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Kích thước</th>
                                        <th>Số lượng</th>
                                        <th>Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>p74da33c2-d5a4-460c-8e92-59d6600aa45c1</td>
                                        <td>42</td>
                                        <td>55</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>p74da33c2-d5a4-460c-8e92-59d6600aa45c1</td>
                                        <td>43</td>
                                        <td>50</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>p74da33c2-d5a4-460c-8e92-59d6600aa45c1</td>
                                        <td>40</td>
                                        <td>67</td>
                                        <td>
                                            <a href="#" class="edit-data"><i class="fa fa-edit"></i></a>
                                            <a href="#" class="remove-data"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SneakerSize end -->
        </div>
    </div>
</div>
<!-- main content area end -->