<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recover Password - DeadShoes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/icon/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/metisMenu.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/default-css.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" class="needs-validation mt-3" novalidate="">
                    <div class="login-form-head">
                        <h4>Đặt lại mật khẩu</h4>
                        <p>Xin chào! Đặt lại mật khẩu để trở lại sử dụng trang web.</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="register-password-new">New Password</label>
                            <input type="password" id="register-password-new" name="newPassword" required="">
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="register-password-confirm">Confirm Password</label>
                            <input type="password" id="register-password-confirm" name="confirmPassword" required="">
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>

                        <input type="hidden" name="accountid" value="{{accountid}}">
                        <div id="message"></div>
                        <div class="submit-btn-area">
                            <button id="form_submit-btn" type="submit">Submit <i class="ti-arrow-right"></i></button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="/js/plugins.js"></script>
    <script src="/js/scripts.js"></script>

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(e) {
        $('#form_submit-btn').on('click', function(e) {
            e.preventDefault();
            $('#message').html("");
            let newPassword = $('input[name="newPassword"]').val();
            let confirmPassword = $('input[name="confirmPassword"]').val();
            let accountid = $('input[name="accountid"]').val();
            
            $.ajax({
                url: '/password-reset?_method=PUT',
                method: 'POST',
                data: {
                    newPassword,
                    confirmPassword,
                    accountid,
                },
                success: function (data) {
                    $('#message').html(`
                    <div class="alert alert-success" role="alert"><strong>Well done!  </strong>  Cập nhật thành công!!</div><br>
                    <div class="alert alert-primary" role="alert">
                        <a href="/login" class="alert-link"><strong>Nhấn vào đây để quay lại trang đăng nhập.!</strong> ,
                        </a> Nếu không sẽ được chuyển hướng trong 5s nữa.
                    </div>
                    `)

                    setTimeout(function () {
                        window.location = "/login";
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    $('#message').html(`
                    <div class="alert alert-danger" role="alert"><strong>Oh snap! </strong>  ${xhr.responseText}</div>
                    `)
                }
            })
        })
    })
</script>
</body>

</html>