<div class="main-content">
    {{>header}}
    
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <h4 class="page-title pull-left">Dead Shoes</h4>
                    <ul class="breadcrumbs pull-left">
                        <li><a href="/product">Quản lý sản phẩm</a></li>
                        <li><span>Thêm sản phẩm</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <!-- Add product form-->
                        <h4 class="header-title">Thêm sản phẩm</h4>
                        <form method="POST" action="/product/store" class="needs-validation mt-3" novalidate="">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-name">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="product-name" name="productname"
                                            required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                   
                                    <label for="product-price">Đơn giá</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                            <span class="input-group-text">0.00</span>
                                        </div>
                                        <input type="text" class="form-control" id="product-price" name="price"
                                            aria-label="Amount (to the nearest dollar)" required="">
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-color">Màu sắc</label>
                                        <input type="text" class="form-control" id="product-color" name="color"
                                            aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-status">Tình trạng</label>
                                        <input type="text" class="form-control" id="product-status" name="status"
                                            aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-size">Kích thước</label>
                                        <select id="product-size" class="form-control" name="size">
                                            <option value="35" selected>35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="42">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="product-amount">Số lượng</label>
                                        <input class="form-control" type="number" value="1" id="product-amount"
                                            name="amount">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="product-image">Hình ảnh</label>
                                        <input type="text" class="form-control" id="product-image" name="image"
                                            aria-describedby="inputGroupPrepend" required="">
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div> 
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-rounded btn-success btn-xs btn-add-image mt-1" type="button"><i
                                    class="fa fa-plus-circle"></i></button>
                            </div>
                            
                            <div class="form-row">
                                <div class="col mb-3">
                                    <div class="form-group input-group-prepend mb-3">
                                        <label for="product-description" class="input-group-text">Mô tả <br> sản
                                            phẩm</label>
                                        <textarea class="form-control" aria-label="With textarea"
                                            id="product-description" name="description" required=""></textarea>
                                        <div class="invalid-feedback">Please provide a valid state.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        const btnAddImage = $('.btn-add-image');
        let index = 1;

        btnAddImage.on('click', function() {
            const html = `
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="product-image${index}">Hình ảnh</label>
                        <input type="text" class="form-control" id="product-image${index}" name="image"
                            aria-describedby="inputGroupPrepend">
                    </div>
                </div> 
            </div>
            `;
            btnAddImage.parent().prepend(html);
            index++;
        });
    })
</script>